.container {
    font-size: .9rem;
}

.textontainer {
    display: flex;
    justify-content: center;
}

.blockone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocktwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
