.container {
    font-size: .9rem;
    font-family: 'Times New Roman', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.textontainer {
    display: flex;
    justify-content: center;
}

.blockone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocktwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
