.buttoncontainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttoncontainer div {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* 移动端button布局 */
@media only screen and (max-width: 599px) {
    .buttoncontainer {
        justify-content: flex-start;
    }
}
/* pad端button布局 */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    .buttoncontainer {
        justify-content: flex-start;
    }
}