.container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.infocontainer {
    padding-left: 10px;
}

.subinfo {
    color: #666;
    font-size: 14px;
}

.maininfo {
    font-size: 16px;
}