@import '~antd/dist/antd.css';

p {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background-color: yellow;*/
}

.avatarcontainer {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.introcontainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.buttoncontainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.buttoncontainer div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: crimson;
}

.buttoncontainer div:first-child {
  margin-right: 20px;
}

.buttoncontainer div:last-child {
  margin-left: 20px;
}

/* 更加细粒度地适配iPhone等移动设备 */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .avatarcontainer {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .introcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttoncontainer {
    margin-top: 6px;
  }
}